@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html, body {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

* {
  box-sizing: border-box;
}
h1 {
  font-size: 4.338rem;
  margin-bottom: 1.2rem;
}

a {
  color: #444444;
  font-size: 1.6rem;
  text-decoration: none;
}

